<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hours</title>
    <link rel="stylesheet" href="picnic.min.css" />
    <link rel="stylesheet" href="hours.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <nav class="">
        <a href="#" class="brand">
            <span>T-Bird Hours</span>
        </a>
    </nav>
    <div id="app" class="plainflex two main-content tall">
        <div>
            <article class="card h100">
                <main class="member-list">
                    <div v-for="row in usersData" v-bind:class="{ checkedIn: row['Checked In'] == true }">
                        <div class="member">
                            <div class="member-name">{{row["First Name"]}} {{row["Last Name"]}}</div>
                            <div class="member-id"><label>Id:</label> {{row["User ID"]}}</div>
                            <div class="member-hours"><label>Hours:</label> {{convertTimestampToDuration(row["Total Seconds"])}}</div>
                        </div>
                    </div>
                </main>
            </article>
        </div>
        &nbsp;
        <div class="third tall">
            <article class="card">
                <header>
                    <h1>
                        {{dateTime.date}}
                        <br />
                        {{dateTime.time}}
                        <br />
                        {{usersCheckedIn}} Students Checked In
                    </h1>
                </header>
            </article>
            <article class="card">
                <main>
                    <table class="primary center">
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Message</th>
				<th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in localLogEntries">
                                <td>{{item.userID}}</td>
                                <td>
                                    <span
                                        v-bind:class="{success: item.status == 'success', warning: item.status == 'error'}"
                                        class="label">
                                        {{item.status}}&nbsp;{{item.message}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 0">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 1">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 2">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 3">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 4">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 5">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 6">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 7">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 8">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="empty" v-if="localLog.length <= 9">
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </main>

                <footer>
                    <h3>
                        Enter/Scan your Student ID
                    </h3>
                    <form @submit.prevent="submitForm">
                        <div class="input-field">
                            <input autocomplete="off" ref="userID" type="text" id="userID" v-model="form.userID"
                                placeholder="Student ID" />
                            <button>Submit</button>
                        </div>
                        <p>
			    <strong>Enter or scan</strong> your student ID to check in or out.
			</p>
			<p>
                            Enter
                            <strong>*</strong>
                            to refresh attendance data
                        </p>
                    </form>
                </footer>
            </article>
        </div>
    </div>
</body>
<script src="./config.js"></script>
<script src="./vue.global.js"></script>
<script src="./hours.js"></script>

</html>
